body {
    background: linear-gradient(to right, aliceblue, skyblue, skyblue, skyblue, aliceblue)
}

hr {
    background: black;
    border: none;
    height: 5px;
    margin-left: 20%;
    margin-right: 20%;
}

#opening-header{
    display: block;
    text-align: center;
    margin: auto;
    font-family: 'Roboto Condensed';
    font-size: 40pt;
    margin-top: 5rem;
}

#mm-intro {
    font-size: 20pt;
}

#copyright-info {
    font-size: 10pt;
}

#mode {
    display: block;
    text-align: center;
    margin: auto;
    font-family: 'Roboto Condensed';
    font-size: 30pt;
    margin-top: 5rem;
}

select {
    padding: 1.5rem;
    margin: .5rem;
    font-family: 'Roboto Condensed';
    font-size: 20pt;
    border-radius: 10px;
}

#stopwatch-body {
    display: block;
    text-align: center;
    margin: auto;
    font-family: 'Roboto Condensed';
    font-size: 30pt;
    margin-top: 5rem;
}

.buttons {
    display: block;
    text-align: center;
    align-items: center;
    margin-top: 2rem;
}

input[type=button] {
    padding: 1.5rem;
    margin: .5rem;
    font-family: 'Roboto Condensed';
    font-size: 20pt;
    border-radius: 10px;
}

input[type=button]:hover {
    background-color: #adb0b2;
}

#pause-stop-buttons {
    display: none;
}

#countdown-timer {
    padding-top: 3rem;
    display: block;
    text-align: center;
    align-items: center;
    font-family: 'Roboto Condensed';
    font-size: 30pt;
}

input[type=text] {
    padding: 1rem;
    font-family: 'Roboto Condensed';
    font-size: 15pt;
    border-radius: 10px;
    border: 1px black solid;
    /* background: linear-gradient(to right, #f0e890, #90cef0) */
}

#timer-cancel {
    display: none;
}

#timer-end {
    display: none;
}

#alerter {
    display: none;
    text-align: center;
    align-items: center;
    font-family: 'Roboto Condensed';
    font-size: 30pt;
}

#alarm-div {
    padding-top: 3rem;
    display: none;
    text-align: center;
    align-items: center;
    font-family: 'Roboto Condensed';
    font-size: 30pt;
}

#alarm-cancel {
    display: none;
}

#alarm-stop {
    display: none;
}

#alarm-numbers {
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Orbitron';
    border: 2pt solid black;
    color: red;
    background: linear-gradient(to right, black, #3b3b3b, #3b3b3b, #3b3b3b, black);
}